

.creat_btn_box{
	width: 100%;
	height: 50px;
	background-color: #f11f5e;
	padding: 15px 0;
	box-sizing: content-box;
}
.creat_btn{
	width: 200px;
	height: 50px;
	background: #f4f4f4;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #f11f5e;
	font-weight: bold;
	cursor: pointer;
}
.goods_img img{
	width: 80%;
	margin-left: 10%;
}
.goodBox{
	width: 100%;
	padding:40px 0;
	background-color: #fff;
	position: relative;
}
@media (max-width:768px ) {
	.goods_img img{
		width: 60%;
		margin-left: 20%;
	}
	.goods_img{
		margin-bottom: 30px;
	}
}
.view_btn_box{
	position: absolute;
	right: 5%;
	bottom: 100px;
}
.view_btn{
	width: 200px;
	height: 60px;
	background-color: #f11f5e;
	line-height: 60px;
	text-align: center;
	color: white;
	cursor: pointer;
}
.show_good_box img{
	width: 35%;
	margin-left: 30%;
}
.show_btn_box{
	width: 100%;

}
.show_btn{
	float: left;
	width: 50%;
	height: 70px;
	background-color: #07172c;
	color: white;
	line-height: 70px;
	text-align: center;
	border-left: 1px solid #efedee;
	border-right: 1px solid #efedee ;
}
.more_box_top{
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #07172c;
}
.more_img_box{
	width: 250px;
	padding-top: 50px;
	height: 400px;
	border: 1px solid #979797;
	position: relative;
	float: left;
	margin: 0 25px;
	background-color: #fff;
}

.more_img_box img{
	width: 50%;
}
.more_img_box_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60PX;
	background-color: #3ad9ff;
	width: 100%;
	text-align: center;
	color: #07172c;
}
.more_box_scroll{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 100%;
}
.all{
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
}
.left_arrow{
	position: absolute;
	left:5%;
	top: 250px;
	cursor: pointer;
}
.right_arrow{
	position: absolute;
	right:5%;
	top: 250px;
	cursor: pointer;
}
.index_more_box{
	position: relative;
}

/*介绍定制页*/
.banner_box{
	height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.introduce_box{
	width: 100%;

}
.introduce_img{
	width: 50%;
	float: left;
}
.introduce_img img{
	width: 100%;
}
.introduce_text{
	width: 50%;
	float: left;
	padding:0 20px 0 20px;
}
.introduce_row{
	margin-top: 20px;
}
.introduce_row:nth-child(odd) .introduce_text div:nth-child(1){
	margin-top: 60px;
	font-size: 30px;
	font-weight: bold;
}
.introduce_row:nth-child(odd) .introduce_text div:nth-child(2){
	width: 70%;
	margin-top: 40px;
	line-height: 30px;
	font-weight: 600;
}
.introduce_row:nth-child(odd) .introduce_text div:nth-child(3){
	color: #5a5a5a;
	margin-top: 50px;
}
.introduce_row:nth-child(odd) .introduce_text div:nth-child(3) a{
	color: #5a5a5a;
}
.introduce_row:nth-child(even) .introduce_text div:nth-child(1){
	margin-top: 60px;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
}
.introduce_row:nth-child(even) .introduce_text div:nth-child(2){
	width: 70%;
	margin-top: 40px;
	line-height: 30px;
	font-weight: 600;
	margin-left: 30%;
	text-align: right;
}
.introduce_row:nth-child(even) .introduce_text div:nth-child(3){
	margin-top: 50px;
	text-align: right;
}
.introduce_row:nth-child(even) .introduce_text div:nth-child(3) a{
	color: #5a5a5a;
}
@media (max-width:768px ) {
	.introduce_img{
		width: 100%;
		float: left;
	}
	.introduce_text{
		width: 100%;
	}
	.introduce_row:nth-child(odd) .introduce_text div:nth-child(1){
		margin-top: 20px;
		text-align: center;
	}
	.introduce_row:nth-child(odd) .introduce_text div:nth-child(2){
		width: 100%;
	}
	.introduce_row:nth-child(odd) .introduce_text div:nth-child(3){
		margin-top: 10px;
	}
	.introduce_row:nth-child(even) .introduce_text div:nth-child(1){
		text-align: center;
	}
	.introduce_row:nth-child(even) .introduce_text div:nth-child(2){
		width: 100%;
		margin-left: 0;
		text-align: left;
	}
	.introduce_row:nth-child(even) .introduce_text div:nth-child(3){
		margin-top: 10px;
		text-align: left;
	}
}
