.mian_cpxq{
	overflow: hidden;
	height: 495px;
	width: 1200px;
	margin: 120px auto 0;
}
#cpxq_left{
	width: 520px;
	float: left;
	height: 495px;
	position:relative;
	overflow: hidden;
}
#pic_list{
	position:relative;
	z-index:1;
	}
#pic_list li{
	position:absolute;
	left:0;
	top:0;
	opacity:0;
	fliter:alpha(opacity=0);
	z-index:1;
}
#pic_list li img{
	height: 371px;
	width: 520px;
}
.mark{
	height:42px;
	width:520px;
	background:#333333;
	z-index:2;
	position:absolute;
	left:0;
	top:330px;
	opacity:0.3;
	filter:alpha(opacity=30);
	}
#text_list{
	width: 100%;
	position:absolute;
	top:330px;
	left:0;
	z-index:5;
	height:42px;
	overflow:hidden;
	}
#text_list h2{
	height: 42px;
	line-height: 38px;
	padding-left: 12px;
	display:none;
	}
#text_list h2 a{
	display: block;
	height: 42px;
	line-height: 38px;
	padding-left: 12px;
}
#text_list .show{
	display:block;
	}
#text_list a{
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	text-decoration:none;
	}
#ico_list{
	position:absolute;
	bottom:0;
	left:0;
	width:525px;
	overflow:hidden;
	height:116px;
	z-index:3;
	}
.active1{
	z-index:2 !important;
	opacity:1 !important;
	fliter:alpha(opacity=100) !important;
}
.pre{
	position: absolute;
	height: 50px;
	width: 25px;
	top: 36px;
	display: none;
}	
#pre{
	left: 0;
	background: url(rbh_pre01.png) no-repeat center;
}
#next{
	right: 6px;
	background: url(rbh_next01.png) no-repeat center;
}		
#ico_list ul{
	position:absolute;
	left:0;
	top:0;
}
#ico_list:hover .pre{
	display: block !important;
}
#ico_list li{
	width:125px;
	float:left;
	margin-left: 7px;
	overflow: hidden;
	}
#ico_list li a{
	width:125px;
	display:block;
	overflow: hidden;
	background: #040303;
	}
#ico_list li img{
	height:116px;
	width:125px;
	background:#040303;
	opacity:0.3;
	filter:alpha(opacity=30);
	}
#ico_list .active img{
	opacity:1;
	filter:alpha(opacity=100);
	height:116px;
	width:125px;
}

.cpxq_center{
	width: 494px;
	background: #dbddf6;
	height: 495px;
	padding: 19px 25px 19px;
	overflow: hidden;
	float: left;
	margin: 0 8px;
}
.tlt{
	overflow: hidden;
	padding-bottom: 6px;
}
.tlt h3{
	font-size: 23px;
	color: #333333;
	font-weight: bold;
	line-height: 45px;
}
.gwzz{
	height: 360px;
	width: 460px;
	position: relative;
	overflow: hidden;
	border-right: #000000;
}
.gwzz #dl_list{
	width: 432px;	
	overflow: hidden;
	color: #666666;
	font-size: 17px;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	color: #333333;
	font-size: 17px;
}
.active2{
	background-color: #afc4f0 !important;
}
.active3{
	background-color: #d6d5ef !important;
}

.cpxq_center .ul_list{
	padding-left: 20px;
	overflow: hidden;
	width: 432px;
}
.cpxq_center .ul_list li{
	float: left;
	height: 45px;
    line-height: 45px;
    padding-left: 112px;
}
.gwzz #dl_list ol{
	width: 442px;
	overflow: hidden;
}
.gwzz #dl_list li{
	text-align: center;
	float: left;
	height: 45px;
	line-height: 45px;
}
.gwzz #dl_list ol li{
	width: 432px;
	padding-left: 20px;
}
.gwzz #dl_list li span{
	text-align: center;
	float: left;
}
.gwzz #dl_list li .span1{
	width: 110px;
	text-align: left;
}
.gwzz #dl_list li .span2{
	width: 180px;
}
.gwzz #dl_list li a{
	float: right;
	width: 27px;
	height: 21px;
	background: #d6d5ef url(rbh_zlxz01.png) no-repeat left center;
	margin-top: 12px;
	margin-right: 35px;
}
.gdt{
	overflow: hidden;
	height: 100%;
	width: 20px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(rbh_zpxq09.jpg) repeat-y center;
}
#inner{
	height: 16px;
	width: 20px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(rbh_zpxq08.png) no-repeat center;
}
.cpxq_right{
	width: 169px;
	float: left;
	height: 100%;
	overflow: hidden;
}
.cpxq_right{
	width: 169px;
	float: left;
	height: 100%;
	overflow: hidden;
}
.cpxq_right .tlt1{
	width: 170px;
	overflow: hidden;
	height: 170px;
	background: #d6d7ef;
	text-align:center;
}
.cpxq_right .tlt1 img{
	max-width: 170px;
	height: 45px;
	text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.cpxq_right .tlt1 span{
	display: inline-block;
    vertical-align: middle;
    height: 170px;
}
.cpxq_right .cpxg{
	height: 317px;
	width: 100%;
	background: #dbddf6;
	margin-top: 8px;
}
.cpxq_right .cpxg p{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	height: 55px;
	width: 116px;
	line-height: 55px;
	padding-left: 85px;
	margin-top: 20px;
	width: 100%;
}
.cpxq_right .cpxg p:hover{
	background-color: #FFFFFF;
}
.cpxq_right .cpxg .list1{
	background: url(rbh_cpxq03.png) no-repeat 29px center;
}
.cpxq_right .cpxg .list2{
	background: url(rbh_cpxq04.png) no-repeat 29px center;
}
.cpxq_right .cpxg .list3{
	background: #FFFFFF url(rbh_cpxq05.png) no-repeat 29px center;
}
.cpxq_right .cpxg .list4{
	background: url(rbh_cpxq06.png) no-repeat 29px center;
}
