.mian_rczp{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.local{
	height: 120px;
	width: 100%;
	color: #B2b0c1;
	font-size: 15px;
	padding-top: 40px;
	background: url(rnh_indexd.png) no-repeat left 43px;
	padding-left: 28px;
}
.local a{
	color: #B2b0c1;
}
.local a:hover{
	color: #FFFFFF;
}
/*人才招聘*/
.rczp{
	overflow: hidden;
}
.rczp_l{
	width: 50%;
	height: 52px;
}
.rczp_l h3{
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding-left: 15px;
	margin-bottom: 9px;
	background: url(rbh_zpxq03.jpg) no-repeat left 3px;
}
.rczp_l span{
	color: #b2b0c1;
}
.rczp_r{
	width: 50%;
	float: left;
	margin-top: 12px;
	overflow: hidden;
}
.rczp_r input{
	float: right;
	height: 39px;
	width: 393px;
	line-height: 39px;
	color: #c2c2c2;
	font-size: 17px;
	padding-left: 12px;
	border: 1px solid #0bccd9;
	background: #4d53d3 url(rbh_rczp01.png) no-repeat 350px center;
}
.rczp_r a{
	float: right;
	height: 39px;
	width: 40px;
	line-height: 39px;
	color: #c2c2c2;
	font-size: 17px;
	padding-left: 12px;
	position: absolute;
    right: 80px;
}
/*职位列表*/
.zwlb{
	/*height: 490px;*/
	overflow: hidden;
	width: 100%;
	margin-top: 20px;
	background: #dcdcf7;
	padding: 20px 0 40px 0;
	position: relative;
}
.zwlb h2{
	font-size: 23px;
	color: #333333;
	padding-left: 24px;
	padding-bottom: 8px;
	background: url(rbh_rczp01.jpg) no-repeat 24px bottom;
}
.part1{
	/*height: 186px;*/
	overflow: hidden;
	width: 600px;
	padding: 20px 24px;
	float: left;
	border-bottom: 4px solid #dcdcf7;
}
.jgs{
	color: #6b1ccd;
	font-size: 19px;
}
.part1:hover{
	background: #FFFFFF;
	border-bottom: 4px solid #0bccd9;
}
.part1 ul{
	width: 400px;
	overflow: hidden;	
}
.part1 ul li{
	height: auto;
	font-size: 17px;
	color: #666666;
	padding-right: 70px;
	float: left;
	line-height: 26px;
}

.part1 ol{
	overflow: hidden;
	margin-top: 16px;
}
.part1 ol li{
	float: left;
	height: 34px;
	line-height: 34px;
	text-align: center;
	padding: 0 16px;
	margin-right: 7px;
	margin-bottom: 7px;
	color: #6b1ccd;
	border: 1px solid #6b1ccd;
	border-radius: 4px;
}
.fenye{
	position: absolute;
	right: 32px;
	bottom: 10px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	color: #333333;
}
.fenye ul li{
	float: left;
	overflow: hidden;
	font-size: 13px;
	cursor: pointer;
	height: 21px;
	line-height: 21px;
	margin-right: 10px;
}
#pageSize{
	min-width: 39px;
	background: #FFFFFF;
	border: 0;
}
#firstPage{
	width: 7px;
	background: url(rbh_grzx05.png) no-repeat center;
}
#prevPage{
	width: 5px;
	background: url(rbh_grzx06.png) no-repeat center;
}
#nowPage{
	overflow: hidden;
	margin-right: 5px;
}
#nowPage span{
	display: inline-block;
	
	padding: 0 4px;
	
	text-align: center;
	margin: 0 5px;
}
#PagesLen{
	overflow: hidden;
	padding-left: 6px;
	
}
#nextPage{
	width: 5px;
	background: url(rbh_grzx07_1.png) no-repeat center;
}
#lastPage{
	width: 7px;
	background: url(rbh_grzx08.png) no-repeat center;
}

/*服务交易*/
.mian_dl{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.main_cont{
	width: 1200px;
	height: 450px;
	clear: both;
	background: #d4d6ee;
	padding: 32px 28px;
	margin-top: 20px;
}
.main_cont ul{
	overflow: hidden;
}
.main_cont ul li{
	float: left;
	position: relative;
	width: 271px;
	height: 184px;
	overflow: hidden;
	margin: 0 20px 20px 0;
}
.main_cont ul li img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.tlt{
	height: 35px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #FFFFFF;
	line-height: 35px;
	text-align: center;
	background: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f000000',endColorstr='#1333333');
}
.mar{
	margin-right: 0 !important;
}
